.row div{
    background: lightblue;
    border: black solid 3px;
    height: 45px;
}
        
.row1 div{
    background: #33a094;
    border: black solid 2px;
    height: 45px;    
        
    
    
    
    
    
}